.container {
  text-align: center;
}

.textAreaContainer {
  width: 300px;
}

.textArea {
  width: 100%;
  border-radius: 6px;
  padding: 1em;
  border: 3px solid #ee63da;
}

.textArea:focus {
  border: 3px solid #ee63da;
  outline: none;
}

.charCounter {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: hsla(0, 0%, 97%, 50%);
  font-size: 0.8rem;
  font-weight: normal;
}

.result {
  margin: 1em auto;
  width: 100%;
  background-color: hsla(0, 0%, 97%, 10%);
  padding: 1em;
  text-align: left;
  border-radius: 8px;
  font-size: .8em;
}

.title {
  font-weight: 700;
}
