* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  color: white;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-align: center;
}

/* TODO: uncomment */
/*.loading {
  display: none;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.loading-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  display: inline-block;
  margin: 1rem 0;
}

.loading-text p {
  margin: 0;
}

.btn {
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 70%);
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: .3rem;
}

.btn.btn-primary {
  background-color: hsl(309, 80%, 66%);
  border: none;
  color: white;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: hsl(309, 80%, 50%);
  box-shadow: 0 0 5px 0 hsl(309, 80%, 30%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 1rem;
}

.footer-text {
  display: inline-block;
  margin: 1rem 0;
  font-size: .8rem;
}

.footer-text a {
  color: white;
}

.disclaimer {
  font-size: .5rem;
  color: #CCC;
}

.char-counter {
  display: inline-block;
  width: 75%;
  text-align: right;
  color: #CCC;
  font-size: .8rem;
}

.card {
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 75%;
  padding: 1rem;
  border: 4px solid #ffffff;
  border-radius: .3rem;
  text-align: left;
  margin: auto;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
/*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 4px solid #EE63DA;*/
}

h1 {
  font-size: 75px;
  text-align: center;
}

.content  {
  min-height:75%;       /* for IE as it does not support min-height */
  max-height:100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  padding: 1%;
}


.logo {
  font-size: 100px;
}

form {
  height: auto;
  width: auto;
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 1%;
}
textarea {
  border-radius: 10px;
  border: 4px solid #EE63DA;
  padding: 20px;
  margin: 5px;
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: black;

}
textarea:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grecaptcha-badge {
    visibility: hidden;
}

