* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: white;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    text-align: center;
}

.loading {
    display: none;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-text {
    display: inline-block;
    margin: 1rem 0;
}

.loading-text p {
    margin: 0;
}

.btn {
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 70%);
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

.btn.btn-primary {
    background-color: hsl(309, 80%, 66%);
    border: none;
    color: white;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: hsl(309, 80%, 50%);
    box-shadow: 0 0 5px 0 hsl(309, 80%, 30%);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    position: relative;
    font-size: 1rem;
}

.footer-text {
    display: inline-block;
    margin: 1rem 0;
    font-size: 0.8rem;
}

.footer-text a {
    color: white;
}

.disclaimer {
    font-size: 0.5rem;
    color: #ccc;
    padding: 0 3rem;
    max-width: 480px;
}

.form-container {
    margin: auto;
    max-width: 700px;
}

.char-counter {
    display: inline-block;
    width: 75%;
    text-align: right;
    color: #ccc;
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    .char-counter {
        width: 100%;
    }
}

.results-container {
    margin: auto;
    max-width: 700px;
}

.card {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 75%;
    padding: 1rem;
    border: 4px solid #ffffff;
    border-radius: 0.3rem;
    text-align: left;
    margin: auto;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
    color: black;
    background-color: white;
    font-weight: 100;
    cursor: pointer;
}

.card:hover .card:focus {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 4px solid #ee63da;
}

@media (min-width: 768px) {
    .card {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 120px;
    }
}

.icon {
    font-size: 100px;
    text-align: center;
    margin: 0;
}

.title {
    font-size: 75px;
    text-align: center;
    margin: 0;
}

.content-container {
    min-height: 75%; /* for IE as it does not support min-height */
    max-height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    padding: 1%;
}

form {
    height: auto;
    min-height: 40px;
    width: auto;
    font-size: 1rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 1%;
}

textarea {
    border-radius: 0.5rem;
    border: 4px solid #ee63da;
    padding: 1rem;
    width: 75%;
    max-width: 75%;
    min-width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 0.75rem;
    line-height: 1;
    overflow: hidden;
}

textarea:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}
